/* You can add global styles to this file, and also import other style files */
html {
	box-sizing: border-box;
	font-size: 20px;
}
	
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: .01rem;
	line-height: 1.15;
}

html,
body {
  margin: 0 auto;
}
